# build output
dist/
.vercel/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# Notion CMS downloaded assets (regenerated on build)
src/assets/images/notion/

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# pagefind
public/pagefind

# pnpm
.pnpm-store

# docker compose
compose.override.yaml
